/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #06062b;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 80%;
    max-width: 600px;
    background-color: #d9e9f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Quote Styling */
  .quote-box {
    margin-bottom: 20px;
  }
  
  #quote-text {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 10px;
  }
  
  #author-text {
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 5px;
  }
  
  /* Button Styling */
  #new-quote {
    background-color: #0e0a36;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #new-quote:hover {
    background-color: #695c7e;
  }